<div class="card centerCard" style="width: 90%">
  <h2>Rubric</h2>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Release One">
        <div class="header-body">
            <p class="subheader">
              This first release contains the first few features in our list. We created a google sign-in module that allows
              users to come and create an account on HashMap. You can also setup your profile and link many accounts.
            </p>

            <hr>

            <h2>Downloads</h2>
            <a href="https://github.com/adamchlebek/HashMap" class="btn btn-dark centerAlign"><fa name="github"></fa>Github Repo</a>
            <a href="https://docs.google.com/document/d/1rOCnP8MmkQxvYwYIxpsaDWo9ebqqTVXUBBjhqe-Ky3M/edit?usp=sharing" target="_blank" class="btn btn-primary centerAlign"><fa name="link"></fa>Release 1 PDF</a>

            <hr>

            <h2>Feature List</h2>

            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="card" >
                    <div class="card-body">
                      <h5 class="card-title"><strong>Release 1</strong> (July 15th)</h5>
                      <ul>
                        <li>Google Sign-In and Account creation</li>
                        <li>Profile Creation and Managment</li>
                        <li>Steam Linking and Game Linking</li>
                        <li>Front end and menu created</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <hr>
          </div>
    </mat-tab>
    <mat-tab label="Release Two">
        <div class="header-body">
            <p class="subheader">
              <strong>Second Release Coming July 31st</strong>
            </p>

            <hr>

            <h2>Downloads</h2>
            <a href="https://github.com/adamchlebek/HashMap" class="btn btn-dark centerAlign"><fa name="github"></fa>Github Repo</a>
            <a href="Release1.pdf" class="btn btn-primary centerAlign"><fa name="download"></fa>Release 1 PDF</a>

            <hr>

            <h2>Feature List</h2>

            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><strong>Release 2</strong> (July 31st)</h5>
                      <ul>
                        <li>Friend Matching Algorithm</li>
                        <li>Add friends to List</li>
                        <li>Search By Location</li>
                        <li>Add search by rank with specific games</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <hr>
          </div>
    </mat-tab>
  </mat-tab-group>
</div>
