<div class="card contain">
  <div class="card-body">
    <ng-container *ngFor="let friend of friends">
        <div class="row">
          <div class="col-2">
            <img src="../../assets/images/g-normal.png" class="friend-icon"  />
          </div>
          <div class ="col-10">
            <div class="row">
              {{friend.displayName}}
            </div>
            <div class="row">
              {{friend.bio}}
            </div>
          </div>
        </div>
    </ng-container>
  </div>
</div>
