<div class="card contain">
  <div class="card-body">
    <ng-container *ngFor="let friend of friends">
        <div class="row">
          <div class="col-2">
            <img src="{{ friend.photoURL }}" class="friend-icon"  />
          </div>
          <div class ="col-10">
            <div class="row">
              <h5>{{friend.displayName}}</h5>
            </div>
            <div class="row">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-description>
                      Bio
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  {{friend.bio}}
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
    </ng-container>
  </div>
</div>


