<div class="card centerCard" style="width: 90%">
  <div class="header-card">
    <h1>Welcome to HashMap!</h1>
    <p>Location based friend search for gamers!</p>

    <a href="https://github.com/adamchlebek/HashMap" target="_blank" class="btn btn-dark"><fa name="github"></fa> Github Repo</a>
  </div>

  <div class="header-body">
    <h2>About</h2>

    <p class="subheader">This project was created for CIS 350. HashMap is a location based friend search for people who play
      similar games to you! You can connect many of your accounts and settings to find friends near you.</p>

    <hr>

    <h2>Feature List</h2>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title"><strong>Release 1</strong> (July 15th)</h5>
              <ul>
                <li>Google Sign-In and Account creation</li>
                <li>Profile Creation and Managment</li>
                <li>Steam Linking and Game Linking</li>
                <li>Front end and menu created</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><strong>Release 2</strong> (July 31st)</h5>
              <ul>
                <li>Friend Matching Algorithm</li>
                <li>Add friends to List</li>
                <li>Search By Location</li>
                <li>Add search by rank with specific games</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  <hr>

  <table class="table">
    <thead>
      <tr>
        <th>Languages</th>
        <th>Framework/Plugins and Tools</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Typescript</td>
        <td>Angular 8</td>
      </tr>
      <tr>
        <td>SQL</td>
        <td>Protractor End-to-End Testing</td>
      </tr>
      <tr>
        <td>HTML</td>
        <td>Jasime Karma</td>
      </tr>
      <tr>
        <td>CSS</td>
        <td>Firebase</td>
      </tr>
      <tr>
        <td>JavaScript</td>
        <td>Visual Studio Code</td>
      </tr>
    </tbody>
  </table>

  <hr>

  <h6>
    This project is licensed under the <a href="https://github.com/adamchlebek/HashMap/blob/master/LICENSE.md">MIT</a> license.
  </h6>

  <h6>
    Created By Adam Chlebek and Collin Larson
  </h6>

  </div>
</div>
