<div class="card centerCard" style="width: 90%">
  <div class="header-card">
    <h1>Welcome to HashMap!</h1>
    <p>Location based friend search for gamers!</p>

    <a href="/rubric" class="btn btn-light">Rubric</a>
    <br>
    <a href="https://github.com/adamchlebek/HashMap" target="_blank" class="btn btn-dark"><fa name="github"></fa>Github Repo</a>
  </div>

  <div class="header-body">
    <h2>About</h2>

    <p class="subheader">This project was created for CIS 350. HashMap is a location based friend search for people who play
      similar games to you! You can connect many of your accounts and settings to find friends near you.</p>

    <hr>

    <h2>Feature List</h2>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title"><strong>Release 1</strong> (July 15th)</h5>
              <ul>
                <li>Google Sign-In and Account creation</li>
                <li>Profile Creation and Management</li>
                <li>Steam Linking and Game Linking</li>
                <li>Front end and menu created</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><strong>Release 2</strong> (July 31st)</h5>
              <ul>
                <li>Friend Matching Algorithm</li>
                <li>Add friends to List</li>
                <li>Search By Location</li>
                <li>Add search by rank with specific games</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  <hr>

  <table class="table">
    <thead>
      <tr>
        <th>Languages</th>
        <th>Framework/Plugins and Tools</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Typescript</td>
        <td>Angular 8</td>
      </tr>
      <tr>
        <td>SQL</td>
        <td>Protractor End-to-End Testing</td>
      </tr>
      <tr>
        <td>HTML</td>
        <td>Jasime Karma</td>
      </tr>
      <tr>
        <td>CSS</td>
        <td>Firebase</td>
      </tr>
      <tr>
        <td>JavaScript</td>
        <td>Visual Studio Code</td>
      </tr>
    </tbody>
  </table>

  <hr>

  <div class="color-palette">
    <h2>Color Palette</h2>
    <div class="row">
      <div class="col dark">
        <h3>Polar Night</h3>
        <hr>
        <div class="color col2e3440">#2e3440</div>
        <div class="color col3b4252">#3b4252</div>
        <div class="color col434c5e">#434c5e</div>
        <div class="color col4c566a">#4c566a</div>
      </div>
      <div class="col light">
        <h3>Snow Storm</h3>
        <hr>
        <div class="color cold8dee9">#d8dee9</div>
        <div class="color cole5e9f0">#e5e9f0</div>
        <div class="color coleceef4">#eceef4</div>
      </div>
      <div class="col dark">
        <h3>Frost</h3>
        <hr>
        <div class="color col8fbcbb">#8fbcbb</div>
        <div class="color col88c0d0">#88c0d0</div>
        <div class="color col81a1c1">#81a1c1</div>
        <div class="color col5e81ac">#5e81ac</div>
      </div>
      <div class="col dark">
        <h3>Aurora</h3>
        <hr>
        <div class="color colbf616a">#bf616a</div>
        <div class="color cold08770">#d08770</div>
        <div class="color colebcb8b">#ebcb8b</div>
        <div class="color cola3be8c">#a3be8c</div>
        <div class="color colb48ead">#b48ead</div>
      </div>
    </div>
  </div>

  <hr>

  <h6>
    This project is licensed under the <a href="https://github.com/adamchlebek/HashMap/blob/master/LICENSE.md">MIT</a> license.
  </h6>

  <h6>
    Created By Adam Chlebek and Collin Larson
  </h6>

  </div>
</div>
