<div class="card centerCard" style="width: 90%">
    <h1>Welcome to HashMap!</h1>

    <p>Location based friend search for gaming!</p>

    <p>This project was created for CIS 350. HashMap is a location based friend search for people who play 
        similar games to you! You can connect many of your accounts and settings to find friends near you.</p>

    <h3>Feature List</h3>

    <h5>Release 1 (July 15th)</h5>
    <ul>
        <li>Google Sign-In and Account creation</li>
        <li>Profile Creation and Managment</li>
        <li>Steam Linking and Game Linking</li>
        <li>Front end and menu created</li>
    </ul>

    <h5>Release 2 (July 31st)</h5>
    <ul>
        <li>Friend Matching Algorithm</li>
        <li>Add to List</li>
        <li>Search By Location</li>
    </ul>

    <hr>

    <table>
        <tr>
            <th>Languages</th>
            <th>Framework/Plugins and Tools</th>
        </tr>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
        </tr>
        <tr>
            <td>Item 3</td>
            <td>Item 4</td>
        </tr>
    </table>
</div>