.btn-circle.btn-xl {
  width: 60px;
  height: 60px;
  padding: 10px 16px;
  border-radius: 35px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857;
  background-color: #a3be8c;
  border-color: #a3be8c;
}

.messageButton{
  overflow: hidden;
  position: fixed;
  bottom: 18px;
  right: 18px;
  width: 100%;
  z-index: 2;
}
