
<div class="login">
    <div class="topbar"></div>
    <form>
        <h2>Login</h2>

        <div class="form-group">
          <input type="text" class="form-control textbox" id="inputEmail" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control textbox" id="inputPassword" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary sign-in">Sign in</button>

        <div class="form-group">
            <label class="form-check-label" href="">Forgot Password?</label>
        </div>

        <!-- user is an obvserable, need to subscribe to it with async -->
        <div *ngIf="auth.user$ | async as user; else login">
            {{ user | json }}
            <hr>
            <button class="button" (click)="auth.signOut()">Sign Out</button>
        </div>

        <ng-template #login>
            
            <div class="form-group">
                <button type="button" (click)="auth.googleSignin()" class="google-button">
                    <span class="google-button__icon">
                        <img style="width: 100%; vertical-align: baseline" src="../../assets/images/g-normal.png"/>
                    </span>
                    <span class="google-button__text">
                        Sign in with Google
                    </span>
                </button>
            </div>

        </ng-template>

        <hr>

        <a href="/register">Register</a>
        <br>
        <a href="/setup">Dev</a>
    </form>
</div>
