
<div class="login">
    <div class="topbar"></div>
    <form>
        <h2>Login</h2>

        <div class="form-group">
            <input type="text" class="form-control" id="inputEmail" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary sign-in">Sign in</button>

        <div class="form-group">
            <label class="form-check-label" href="">Forgot Password?</label>
        </div>

        <button type="button" class="btn btn-info sign-in"><fa name="google"></fa>  Sign in with Google</button>

        <hr>

        <a href="/register">Register</a>

    </form>
</div>
