
<div class="login">
    <form>
        <div class="form-group">
            <label for="inputEmail">Username</label>
            <input type="text" class="form-control" id="inputEmail" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="form-group">
            <label class="form-check-label" href="">Forgot Password?</label>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>

        <br>
        <br>

        <div id="gSignInWrapper">
            <div id="customBtn" class="customGPlusSignIn">
                <span class="icon"></span>
                <span class="buttonText">Sign in With Google</span>
            </div>
        </div>
    </form>
</div>
