<div class="card">
  <div class="inbox_msg">
    <div class="inbox_people">
      <div class="headind_srch">
        <div class="recent_heading">
          <h4>Messages</h4>
        </div>
      </div>
      <div class="inbox_chat" *ngIf="!isLoading">
        <ng-container *ngFor="let friend of profile._friends">
            <div [ngClass]="(chatId==getChatId(friend.uid)) ? 'chat_list active_chat' : 'chat_list'" (click)="changeChat(friend.uid)">
              <div class="chat_people">
                <div class="chat_img"> <img src="{{friend.photoURL}}" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>{{friend.displayName}}</h5>
                </div>
              </div>
            </div>
        </ng-container>

        <!-- Need to add last message & date -->
        <!-- <div class="chat_list">
          <div class="chat_people">
            <div class="chat_img"> <img src="../../assets/images/g-normal.png" alt="sunil"> </div>
            <div class="chat_ib">
              <h5>From Another User<span class="chat_date">Jan 1</span></h5>
              <p>Last Message 2</p>
            </div>
          </div>
        </div> -->

      </div>
    </div>
    <div class="mesgs">
      <div class="msg_history">
        <ng-container *ngIf="chat$ | async as chat">
          <div class="chat">

            <div *ngFor="let msg of chat.messages; trackBy: trackByCreated">

              <ng-container *ngIf="msg.user.uid == user.uid">
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>{{ msg.content }}</p>
                    <span class="time_date">{{msg.createdAt | date:"M/d/yy, h:mm a"}}</span> </div>
                </div>
              </ng-container>

              <ng-container *ngIf="msg.user.uid != user.uid">
                <div class="incoming_msg">
                  <div class="incoming_msg_img"> <img [src]="msg.user?.photoURL" alt="sunil"> </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>{{ msg.content }}</p>
                      <span class="time_date">{{msg.createdAt | date:"M/d/yy, h:mm a"}}</span></div>
                  </div>
                </div>
              </ng-container>

              <!-- <div class="user">
                <img class="chat_img" [src]="msg.user?.photoURL">
                {{ msg.user?.displayName || msg.user.uid }}
              </div>

              <p>{{ msg.content }}</p> -->

            </div>

          </div>
        </ng-container>

      </div>
      <div class="type_msg">
        <div class="input_msg_write">
          <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="newMsg" (keydown.enter)="submit(chatId)" />
          <button class="msg_send_btn" type="button" (click)="submit(chatId)"><i class="material-icons" style="padding-top: 3px;">send</i></button>
        </div>
      </div>
    </div>
  </div>
</div>
