<div class="inbox_msg">
  <div class="inbox_people">
    <div class="headind_srch">
      <div class="recent_heading">
        <h4>Messages</h4>
      </div>
    </div>
    <div class="inbox_chat">
      <div class="chat_list active_chat">
        <div class="chat_people">
          <div class="chat_img"> <img src="../../assets/images/g-normal.png" alt="sunil"> </div>
          <div class="chat_ib">
            <h5>From User<span class="chat_date">Jan 1</span></h5>
            <p>Last Message</p>
          </div>
        </div>
      </div>
      <div class="chat_list">
        <div class="chat_people">
          <div class="chat_img"> <img src="../../assets/images/g-normal.png" alt="sunil"> </div>
          <div class="chat_ib">
            <h5>From Another User<span class="chat_date">Jan 1</span></h5>
            <p>Last Message 2</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mesgs">
    <div class="msg_history">
      <div class="incoming_msg">
        <div class="incoming_msg_img"> <img src="../../assets/images/g-normal.png" alt="sunil"> </div>
        <div class="received_msg">
          <div class="received_withd_msg">
            <p>Incoming Message Example</p>
            <span class="time_date"> 00:00 AM | Jan 1</span></div>
        </div>
      </div>
      <div class="outgoing_msg">
        <div class="sent_msg">
          <p>Outgoing Message Example. This message can be really long because the CSS is really good and wraps the message if it gets too big</p>
          <span class="time_date"> 00:00 AM | Jan 1</span> </div>
      </div>
    </div>
    <div class="type_msg">
      <div class="input_msg_write">
        <input type="text" class="write_msg" placeholder="Type a message" />
        <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
