
<div class="setup">
    <div class="topbar"></div>
      <h2>Setup</h2>

      <div class="container">
        <label>Region</label>
        <select >
          <option value=""></option>
          <option *ngFor="let region of regions | async" [value]="region.id">
            {{region.name}}
          </option>
        </select>
      </div>

      <div class="container">
        <label>Platform</label>
        <select >
          <option value=""></option>
          <option *ngFor="let platform of platforms | async" [value]="platform.id">
            {{platform.name}}
          </option>
        </select>
      </div>

      <div class="container">
        <label>Communication Preference</label>
        <select >
          <option value=""></option>
          <option *ngFor="let com of comms | async" [value]="comms.id">
            {{com.name}}
          </option>
        </select>
      </div>

      <div class="container">
        <label>Available Day(s)</label>
        <select >
          <option value=""></option>
          <option *ngFor="let day of days | async" [value]="days.id">
            {{day.name}}
          </option>
        </select>
      </div>
      <!-- <h5>Link Accounts</h5>
      <hr>

      <div class="container">

        <div class="row">
          <div class="col" [hidden]="invalid">
              <svg id="checkmark-svg" class="run-animation" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 193.3 193.3"><circle class="cls-1 circle" cx="96.65" cy="96.65" r="94.15"/><polyline class="cls-1 checkmark" points="46.9 101.4 76.9 131.4 146.4 61.9"/></svg>
          </div>
          <div class="col">
            <label class="game-header">Steam</label>
            <br>
            <input type="text" class="textbox" id="steamID" placeholder="Steam ID" maxlength=17 (keyup)="checkSteamID()" (keydown)="checkSteamID()" (keypress)="checkSteamID()" [(ngModel)]="steamID">
          </div>
          <div class="col">
            <h2>OR</h2>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary"><fa name="steam"></fa>  Sign in with Steam</button>
          </div>
        </div>

        <hr>
      </div> -->
</div>
