<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<ng-form #myForm="ngForm">
<div class="card" style="margin: 18px">
  <div class="card-body">
    <!-- <div class="topbar"></div> -->
      <h5 class="card-title">Profile Setup</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="maskedName">Display Name</label>
            <input type="text" class="form-control" id="maskedName" name="name" [(ngModel)]="profile.displayName"/>
            <small id="nameHelp" class="form-text text-muted">Name displayed on profile.</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="dllRegion">Region</label>
            <select id="ddlRegion" class="form-control" name="region" [(ngModel)]="profile.regionId">
              <option value=""></option>
              <option *ngFor="let region of regions | async" [value]="region.id">
                {{region.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="ddlPlatform">Platform</label>
            <select id="ddlPlatform" class="form-control" name="platform" [(ngModel)]="profile.platformId">
              <option value=""></option>
              <option *ngFor="let platform of platforms | async" [value]="platform.id">
                {{platform.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="ddlComms">Communication Preference</label>
            <select id="ddlComms" class="form-control" name="comms" [(ngModel)]="profile.communicationPlatformId">
              <option value=""></option>
              <option *ngFor="let com of comms | async" [value]="com.id">
                {{com.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label class="form-control-label">Steam Games</label>
          <div class="mb-1">
            <mat-form-field class="example-chip-list" style="width: 100%;">
              <mat-chip-list #appList>
                <mat-chip
                  *ngFor="let app of selectedApps; let i=index"
                  [selectable]="true"
                  [removable]="true"
                  (removed)="remove(app,i)">
                  {{app.name}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Add game..."
                  #appInput
                  [formControl]="appCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="appList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let app of filteredApps | async" [value]="app">
                  {{app.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Available Day(s)</label>
            <div class="weekDays-selector">
                <input type="checkbox" id="weekday-mon" class="weekday" />
                <label for="weekday-mon">Mon</label>
                <input type="checkbox" id="weekday-tue" class="weekday" />
                <label for="weekday-tue">Tue</label>
                <input type="checkbox" id="weekday-wed" class="weekday" />
                <label for="weekday-wed">Wed</label>
                <input type="checkbox" id="weekday-thu" class="weekday" />
                <label for="weekday-thu">Thu</label>
                <input type="checkbox" id="weekday-fri" class="weekday" />
                <label for="weekday-fri">Fri</label>
                <input type="checkbox" id="weekday-sat" class="weekday" />
                <label for="weekday-sat">Sat</label>
                <input type="checkbox" id="weekday-sun" class="weekday" />
                <label for="weekday-sun">Sun</label>
              </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="bio">Bio <small class="text-muted font-italic">Optional</small></label>
            <textarea class="form-control" id="bio" rows="3" name="bio" [(ngModel)]="profile.bio"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" style="float: right" (click)="save()">Save</button>
        </div>
      </div>
  </div>
</div>
</ng-form>

