
<div class="setup">
    <div class="topbar"></div>
      <h2>Setup</h2>

      <h5>Link Accounts</h5>
      <hr>

      <div class="container">

        <div class="row">
          <div class="col">
            <label>Steam</label>
            <input type="text" class="textbox" id="inputEmail" placeholder="Steam ID">
          </div>
          <div class="col">
            <h2>OR</h2>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary"><fa name="steam"></fa>  Sign in with Steam</button>
          </div>
        </div>

        <hr>


      </div>
</div>
