<div class="card" style="margin: 18px">
  <div class="card-body">
      <!-- <div class="topbar"></div> -->
      <h5 class="card-title">[DISPLAY NAME HERE]</h5>
      <div class="row">
        <div class="col-md-6">
            <div class="form-group">
              <label for="maskedName">[REAL NAME HERE]</label>
            </div>
            <img style="width: 25%; vertical-align: baseline" src="../../assets/images/g-normal.png"/>
            <div class="form-group">
                <label for="bio">Bio</label>
              </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
              <label for="dllRegion">[REGION HERE]</label>
            </div>
            <div class="form-group">
              <label for="ddlPlatform">Platform</label>
            </div>
            <div class="form-group">
              <label for="ddlComms">Communication Preference</label>
            </div>
            <div class="form-group">
              <label class="form-control-label">Steam Games</label>
            </div>
            <div class="form-group">
              <label>Available Day(s)</label>
              <div class="weekDays-selector">
                  <input type="checkbox" id="weekday-mon" disabled="disabled" class="weekday disabled" />
                  <label for="weekday-mon">Mon</label>
                  <input type="checkbox" id="weekday-tue" disabled="disabled" class="weekday disabled" />
                  <label for="weekday-tue">Tue</label>
                  <input type="checkbox" id="weekday-wed" disabled="disabled" class="weekday disabled" />
                  <label for="weekday-wed">Wed</label>
                  <input type="checkbox" id="weekday-thu" disabled="disabled" class="weekday disabled" />
                  <label for="weekday-thu">Thu</label>
                  <input type="checkbox" id="weekday-fri" disabled="disabled" class="weekday disabled" />
                  <label for="weekday-fri">Fri</label>
                  <input type="checkbox" id="weekday-sat" disabled="disabled" class="weekday disabled" />
                  <label for="weekday-sat">Sat</label>
                  <input type="checkbox" id="weekday-sun" disabled="disabled" class="weekday disabled" />
                  <label for="weekday-sun">Sun</label>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>
