<div class="card" style="margin: 18px">
    <div class="card-body">
        <!-- <div class="topbar"></div> -->
        <h5 class="card-title">{{data.name}}</h5>
        <div class="row">
          <div class="col-md-6">
            <div>
                <div class="form-group">
                  <label for="maskedName">{{ data.name }}</label>
                </div>
                <!-- <img style="width: 25%; vertical-align: baseline" src="../../assets/images/g-normal.png"/> -->
                <div class="form-group">
                  <img class="avatar"  src=""/>
                </div>
                <div class="form-group">
                  <label for="bio">{{data.name}}</label>
                </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                <label class="col-md-6 pl-0">Region: </label>
                <label class="col-md-6 pl-0 strong">{{data.name}}</label>
              </div>
              <div class="form-group">
                <label class="col-md-6 pl-0">Platform: </label>
                <label class="col-md-6 pl-0 strong">{{data.name}}</label>
              </div>
              <div class="form-group">
                <label  class="col-md-6 pl-0">Communication Preference: </label>
                <label  class="col-md-6 pl-0 strong">{{data.name}}</label>
              </div>
              <div class="form-group">
                <label class="form-control-label">Steam Games</label>
                <div class="mb-1">
                </div>
              </div>
          </div>
        </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-control d-flex justify-content-center">
            <label>Navigate to the Setup tab to create a profile.</label>
          </div>
        </div>
      </div>
    </div>
  </div>
